@media (prefers-color-scheme: dark) {
	body {
		background-color: $colorDark;
		color: $colorWhite;
	}

	a {
		color: $colorWhite;
	}

	/* Swiper JS */
	.swiper-pagination-bullet,
	.swiper-pagination-bullet-active {
		background: $colorWhite;
	}
}
