/* COLORS */
$colorDark: #07080d;
$colorWhite: #fff;
$colorBlue: #1d91ca;

body {
	color: $colorDark;
	font-family: "Lato", sans-serif;
	font-size: 20px;
	line-height: 32px;
	transition: 0.5s;
}

a {
	color: $colorDark;
	text-decoration: underline;
	&:hover {
		color: $colorBlue;
	}
}
